

/*Simply adding a font-family that will be used throughout the site*/

@font-face{
  font-family:montserrat;

  src:url(../less/Montserrat.ttf);
}
@font-face{
  font-family:bebas;
  src:url(../less/BEBAS.ttf);
}
/*Adjusts the height and width of the entire page*/
html, body {
  width: 100%;
  height: 100%;
  margin:0 auto;
  font-family: 'montserrat';
 /*Stops the screen from scrolling to the left and right (basically the x-axis)*/
}
body{
    background-color: #fff;
        overflow-x: hidden; 

}
